version: '3.8'

services:
  backend:
    build:
      context: ./projeto
      dockerfile: Dockerfile
    container_name: app-backend
    restart: unless-stopped
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT_INTERNAL}"
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - NODE_ENV=development
    networks:
      - app-network

networks:
  app-network:
    external: true
